version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: relay-server/Dockerfile
    container_name: relay-server
    ports:
      - "7070:80"
    volumes:
      - ./relay-server:/var/www/html
      - relay_data:/var/www/html/data
    restart: unless-stopped

  public:
    build:
      context: .
      dockerfile: public/Dockerfile
    container_name: public-app
    ports:
      - "9081:80"
    volumes:
      - ./public:/var/www/html
      - user_data:/var/www/html/user/data
      - company_data:/var/www/html/company/data
    restart: unless-stopped

volumes:
  relay_data:
  user_data:
  company_data:
